# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# --- The Universal Mac/VS Code Bouncer ---

# 1. Ignore the Mac "Window Settings" file in EVERY folder
**/.DS_Store

# 2. Ignore the VS Code settings folder in EVERY folder
**/.vscode/

# 3. Ignore the Mac Debug symbol folders in EVERY folder
**/*.dSYM/

# 4. The Mac Binary Trick (Ignores executables with NO extension)
*
!*.*
!*/