# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Ignore .vscode folders everywhere
**/.vscode/

# Ignore .DS_Store files everywhere
**/.DS_Store

# Ignore Mac debug folders everywhere
**/*.dSYM/

# The "No Extension" rule for Mac binaries (Safe for subfolders)
*
!*.*
!*/